<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itcteam.kalkulatorpks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ng"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.calculate.task.task.Hitung01_simpan"></activity>
        <activity
            android:name=".ui.calculate.task.task.Hitung01_hasil"
            android:theme="@style/AppThemeWActBar"></activity>
        <activity
            android:name=".ui.calculate.task.Hitung05"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung04_storage"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung04_cpo"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung04_inti"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.Hitung04"
            android:label="@string/title_activity_hitung04"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung03_kernel"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung03_minyak"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung03_usf"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung03_usb"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.Hitung03"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_dobi"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_inti_kotoran"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_inti_air"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_cpo_kotoran"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_cpo_air"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_alb"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.Hitung02"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".ui.calculate.task.Hitung01"
            android:theme="@style/AppThemeWActBar" />
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" />
        <activity android:name=".MainLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>