<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itcteam.kalkulatorpks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ui.calculate.task.task.Hitung03_minyak"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ui.calculate.task.task.Hitung03_usf"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ui.calculate.task.task.Hitung03_usb"/>
        <activity
            android:name=".ui.calculate.task.Hitung03"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_dobi"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_inti_kotoran"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_inti_air"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_cpo_kotoran"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_cpo_air"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.task.Hitung02_alb"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.Hitung02"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.calculate.task.Hitung01"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" />
        <activity android:name=".MainLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>